{% extends "base.html" %}

{% block title %}
  Search Results
{% endblock %}

{% block content %}

<h1 class="mt-4" > Search Results </h1>

{% if allposts|length == 0 %}
  <p>No Results Found</p>
{% endif %}

<div class="container row gap-2">
  {% for allpost in allposts %}
  <div class="card mt-2" style="width: 13rem;">
    <img src="{{allpost.photo.url}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{allpost.user.username}}</h5>
      <p class="card-text">{{allpost.text}}</p>

      {% if allpost.user == user  %}
        <a href="{% url 'tweet_edit' allpost.id %}" class="btn btn-primary">Edit</a>
      <a href="{% url 'tweet_delete' allpost.id %}" class="btn btn-danger">Delete</a>
      {% endif %}
      

    </div>
  </div>
  {% endfor %}
  

</div>

{% endblock content %}